.adoption-1 {
  float: left;
  width: 300px;
  padding: 20px;
  background-color: blue;
}
.adoption-2 {
  float: left;
  width: 300px;
  padding: 20px;
  background-color: yellow;
}
.adoption-3 {
  float: left;
  width: 300px;
  padding: 20px;
  background-color: green;
}
.adoption-1 p {
  color: white;
}
.adoption-2 p{
  color: red;
}
.adoption-3 p{
  color: yellow;
}
body {
  margin-left: 20px;
}
body img {
  max-width: 300px;
}

.header p {
  font-size: 25px;

}

@media screen and (max-width: 480px) and (min-width: 300px) {
  .adoption-1 {
    background-color: yellow;
  }
  .adoption-2 {
    background-color: green;
  }
  .adoption-3 {
    background-color: blue;
  }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {

}
